body{
      font-family: 'Open Sans', Arial, sans-serif impr !important;
    display:flex;
    flex-direction:column;
    min-height:100vh;
   
}
.container{
    flex:1;
}


.navbar{
    height: 3rem;
    background-color: white;
}

.fa-compass {
  font-size: 2rem;   /* change size */
  color: red;        /* optional */
}

.nav-link{
    color: black !important;
}


/* footer */
footer {
    background-color: #ebebeb;
    color: black;
    padding: 6px 0;  /* smaller height */
    text-align: center;
    margin-top: 40px;
}


.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.social-media i {
    font-size: 1.3rem;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for icons */
.social-media i:hover {
    transform: scale(1.2);
}

.fa-instagram {
    color: #E1306C;
}

.fa-facebook {
    color: #1877F2;
}

.fa-linkedin {
    color: #0A66C2;
}

/* Footer links */
.footer-links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
}


/* INDEX  card*/
.listing-card{
    border:none !important;
   margin-bottom: 2rem;
 

}

.card-image-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important;   
}
.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.c


/* NEW LIST */
.btn-add {
  background-color: red !important;
  border: none !important;
}


/* SHOW PAGE */

.show-img{
    height: 40vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left: 0;
    padding-right:0;
}

